<div class="row">
  <div class="container">

    <div class="form m-auto" style="max-width: 500px">
      <h2 class="mt-5">Add a new flat</h2>
      <hr>
        <%= render 'form', flat: @flat %>
    </div>
  </div>
</div>
